build-stamp
configure-stamp
debian/files
debian/live-swapfile/
debian/live-swapfile.debhelper.log
debian/live-swapfile.postinst.debhelper
debian/live-swapfile.postrm.debhelper
debian/live-swapfile.prerm.debhelper
debian/live-swapfile.substvars
